In [ ]:
#task 1

num_list = []

for i in range(5):
  num = int(input('Enter a number: '))
  num_list.append(num)
  print(num_list)

Enter a number: 3
[3]
Enter a number: 5
[3, 5]
Enter a number: 34
[3, 5, 34]
Enter a number: -11
[3, 5, 34, -11]
Enter a number: 0
[3, 5, 34, -11, 0]

In [ ]:
#task 2

sample_list_str = input('Enter a string: ')

'''
for x in range(len(sample_list_str)):
  if sample_list_str[x] == '[':
    sample_list_str = sample_list_str[x+1::]

for x in range(-1, -len(sample_list_str)-1, -1):
  if sample_list_str[x] == ']':
    sample_list_str = sample_list_str[:x-1:]

'''

sample_list_str = sample_list_str.split(', ')

final_list = []

if len(sample_list_str) >4:
  for x in range(2, len(sample_list_str)-2):
    final_list.append(int(sample_list_str[x]))

  print(final_list)

elif len(sample_list_str) == 4:     #needs improvisation from st
  print(final_list)

else:
  print('Not possible')

Enter a string: 10, 20, 24, 25
[]

In [ ]:
#task 3

num_list = []

for i1 in range(5):
  num = int(input('Enter a number: '))
  num_list.append(num)

for i2 in range(-1, -len(num_list)-1, -1):
  print(num_list[i2])

Enter a number: 5
Enter a number: -5
Enter a number: 100
Enter a number: 1
Enter a number: 0
0
1
100
-5
5

In [ ]:
#task 4

given_list_1 = [1, 2, 3, 4, 5, 6, 7]

given_list_2 = [3, 5, 1, 6]

new_list_1 = []

for num in given_list_1:
  new_list_1.append(num**2)

print(new_list_1)

new_list_2 = []

for num in given_list_2:
  new_list_2.append(num**2)

print(new_list_2)

[1, 4, 9, 16, 25, 36, 49]
[9, 25, 1, 36]

In [ ]:
#task 5

given_list_1 = ["hey", "there", "", "what's", "", "up", "", "?"]

print('Original list:', given_list_1)

mod_list_1 = []

for elem_1 in given_list_1:
  if elem_1 != '':
    mod_list_1.append(elem_1)

print( 'Modified list:', mod_list_1)

Original list: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#unassigned

list1 = [1, 23, 74, 53, 39, 32, 2]

for i1 in range(len(list1)):

  min_ind = i1

  for i2 in range(i1+1, len(list1)):

    if list1[min_ind] > list1[i2]:

      min_ind = i2

  list1[i1], list1[min_ind] = list1[min_ind], list1[i1]

print(list1)

[1, 2, 23, 32, 39, 53, 74]

In [ ]:
#unassigned

list1 = [7, 13, 2, 10, 6, -11, 0]


for i1 in range(len(list1)):

  min_ind = i1

  for i2 in range(i1+1, len(list1)):

    if list1[min_ind] > list1[i2]:

      min_ind = i2

  list1[i1], list1[min_ind] = list1[min_ind], list1[i1]

print(list1)

[-11, 0, 2, 6, 7, 10, 13]

In [ ]:
#unassigned

list1 = [1, 23, 74, 53, 39, 32, 2]

for i1 in range(len(list1)):

  max_ind = i1

  for i2 in range(i1+1, len(list1)):

    if list1[max_ind] < list1[i2]:

      max_ind = i2

  list1[i1], list1[max_ind] = list1[max_ind], list1[i1]

print(list1)

[74, 53, 39, 32, 23, 2, 1]

In [ ]:
#task 6

numbers = input('Enter 7 numbers separated by comma followed by a space: ')

num_list = numbers.split(', ')

final_num_list = []

for str_num in num_list:
  final_num_list.append(int(str_num))

print('My list:', final_num_list)

list2 = final_num_list

for i1 in range(len(list2)):

  min_ind = i1

  for i2 in range(i1+1, len(list2)):

    if list2[min_ind] > list2[i2]:

      min_ind = i2

  list2[min_ind], list2[i1] = list2[i1], list2[min_ind]

for i3 in range( len(final_num_list) ):

  if final_num_list[i3] == list2[-1]:

    max_ind = i3
    break

print('Largest number in the list is', list2[-1], end='')

print('which was found at index', max_ind)

Enter 7 numbers separated by comma followed by a space: 7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 6

In [ ]:
#task 6 correctly done 

user = input('Enter 7 comma space separated values: ')

org_list = []
num = ''

for char in user:

  if ( char in '1234567890' ) or char == '-':

    num += char

  elif char != ' ':
    org_list.append(int(num))
    num = ''

org_list.append(int(num))

print('Original list:', org_list)

max = org_list[0]

for i2 in range(len(org_list)):

  if org_list[i2] > max:
    max = org_list[i2]
    max_ind = i2

print('Largest number in the list is', max, 'which was found at index', max_ind, '.')

Enter 7 comma space separated values: 7, 13, 2, 10, 6, -11, 0
Original list: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1 .

In [ ]:
#task 7

list_1 = [1, 4, 7, 5]
list_2 = [6, 1, 3, 9]

list_3 = []

for i1 in range(len(list_1)-1):
  list_3.append(list_1[i1])

for i2 in list_2:
  list_3.append(i2)

print(list_3)


list_1 = [1, 3, 5, 7, 9, 10]
list_2 = [2, 4, 6, 8]

list_3 = []

for i1 in range(len(list_1)-1):
  list_3.append(list_1[i1])

for i2 in list_2:
  list_3.append(i2)

print(list_3)

[1, 4, 7, 6, 1, 3, 9]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#task 8

list_1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9]

list_2 = [10, 11, 12, -13, -14, -15, -16]

list_3 = []

for elem1 in list_1:
  if elem1%2 == 0:
    list_3.append(elem1)

for elem2 in list_2:
  if elem2%2==0:
    list_3.append(elem2)

print(list_3)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#task 9

user = input('Enter space separated numbers: ')

num_list = []
num = ''

for x in range(len(user)):

  if user[x] in '1234567890':
    num += user[x]
  
  elif user[x] == ' ':
    num_list.append(int(num))
    num = ''

num_list.append(int(num))

print('Original list:', num_list)

odd_num_list = []

for elem in num_list:
  if elem %2!=0:
    odd_num_list.append(elem)

print('Modified list:', odd_num_list)

Enter space separated numbers: 7 12 4 55 96 2 11 61 33 42
Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list: [7, 55, 11, 61, 33]

In [ ]:
#task 10

user = input('Enter comma space separated numbers: ')

num = ''
num_list = []

for i in range(len(user)):

  if user[i] in '1234567890':
    num += user[i]

  elif user[i] != ' ':
    num_list.append(int(num))
    num = ''

num_list.append(int(num))

print('Original list:', num_list)

dist_elem_list = []

#dist_elem_list = [ elem for elem in num_list if elem not in dist_elem_list ]

for elem in num_list:
  if elem not in dist_elem_list:
    dist_elem_list.append(elem)

print('Modified list:', dist_elem_list)

Enter comma space separated numbers: 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Original list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#task 11

list_1 = [1, 4, 3, 2, 6]
list_2 = [5, 6, 9, 8, 7]

do_we_have_that = False

for x in list_1:
  if x in list_2:
    do_we_have_that = True
    break

print(do_we_have_that)

list_1 = [1, 4, 3, 2, 5]
list_2 = [8, 7, 6, 9]

do_we_have_that = False

for x in list_1:
  if x in list_2:
    do_we_have_that = True
    break

print(do_we_have_that)

True
False

In [ ]:
#task 16           7, 13, 2, 10, 6, -11, 0 #failed

user = input('Enter comma space separated numbers: ')

num = ''
num_list = []

for i1 in range(len(user)):

  if ( user[i1] in '1234567890' ) or (user[i1]=='-'):
    num += user[i1]
  
  elif user[i1] != ' ':
    num_list.append(int(num))
    num = ''

num_list.append(int(num))

dup_list = num_list
max = num_list[0]
max_ind = 0

print('My list:', num_list)

for i1 in range(len(num_list)):

  min_ind = i1

  for i2 in range(i1+1, len(num_list)):

    if num_list[min_ind] > num_list[i2]:

      min_ind = i2

  dup_list[min_ind], dup_list[i1] = dup_list[i1], dup_list[min_ind]

print('Ordered list:', dup_list)

for i3 in range(len(num_list)):

  if dup_list[-2] == num_list[i3]:

    sec_max_ind = i3

print('Second largest number in the list is', dup_list[-2], 'which was found at index', sec_max_ind, '.')

Enter comma space separated numbers: 7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Ordered list: [-11, 0, 2, 6, 7, 10, 13]
Second largest number in the list is 10 which was found at index 5 .

In [ ]:
#task 16           7, 13, 2, 10, 6, -11, 0 #chorer upor batpari

user = input('Enter comma space separated numbers: ')

num = ''
num_list = []

for i1 in range(len(user)):

  if ( user[i1] in '1234567890' ) or (user[i1]=='-'):
    num += user[i1]
  
  elif user[i1] != ' ':
    num_list.append(int(num))
    num = ''

num_list.append(int(num))

num_tuple = tuple(num_list)

max = num_list[0]
max_ind = 0

print('My list:', num_list)

for i1 in range(len(num_list)):

  min_ind = i1

  for i2 in range(i1+1, len(num_list)):

    if num_list[min_ind] > num_list[i2]:

      min_ind = i2

  num_list[min_ind], num_list[i1] = num_list[i1], num_list[min_ind]

for i3 in range(len(num_tuple)):

  if num_list[-2] == num_tuple[i3]:

    sec_max_ind = i3

print('Second largest number in the list is', num_list[-2], 'which was found at index', sec_max_ind, '.')

Enter comma space separated numbers: 7, 13, 2, 10, 6, -11, 0
My list: [7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3 .

In [ ]:
#task 17.       7, 13, -5, 10, 6

user = input('Enter your numbers: ')

num = ''
num_list = []

for char in user:
  if ( char in '1234567890' ) or char =='-':
    num+= char
  
  elif char != ' ':
    num_list.append(int(num))
    num = ''

num_list.append(int(num))

max = num_list[0]
max_ind = 0
min = num_list[0]
min_ind = 0

for i in range(len(num_list)):
  if num_list[i] > max:
    max = num_list[i]
    max_ind = i

  if num_list[i] < min:
    min = num_list[i]
    min_ind = i

print('Smallest number in the list is', min, 'which was found at index', min_ind)
print('Largest number in the list is', max, 'which was found at index', max_ind)

Enter your numbers: 7, 13, -5, 10, 6
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
#task 18

list_1 = input('Enter the first list: ')
list_1 = list_1.split(', ')

list_2 = input('Enter your second list: ')
list_2 = list_2.split(', ')

list_3 = []

for elem in list_2:
  if elem in list_1:
    list_3.append(elem)

print(list_3)

Enter the first list: 1, 3, A, H, P
Enter your second list: A, G, 1, P, O
['A', '1', 'P']

In [ ]:
#task 19

list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

distinct_list = []

for elem1 in list_one:
  if elem1 not in distinct_list:
    distinct_list.append(elem1)

for elem2 in list_two:
  if elem2 not in distinct_list:
    distinct_list.append(elem2)

print(distinct_list)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#task 20

user = input('Enter your list: ')

user = user.strip("' ")
user = user.strip('""')

print('Original data:', user)
user = user.strip(' [] ')
print('After removing square brackets:', user)
user = user.split(',')
print('Numbers in string format with extra white spaces:', user)

final_num_list = []

for elem in user:
  ele = elem.strip(' ')
  final_num_list.append(int(ele))

print('Final data(numbers in list format):', final_num_list)

Enter your list: "      [1,   2   ,         3,   50,   4]         "
Original data:       [1,   2   ,         3,   50,   4]
After removing square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '   2   ', '         3', '   50', '   4']
Final data(numbers in list format): [1, 2, 3, 50, 4]

In [ ]:
#task 21 0, 0, 1, 2, 3, 4,      4, 5, 6, 6, 6,      7, 8, 9, 4,         4

user = input('Enter comma separated values: ')

user = user.split(',')

num_list = []

for elem in user:

  num = ''

  for char in elem:

    if char in '1234567890':

      num += char
  num_list.append(int(num))

print('Given numbers in list', num_list)

distinct_list = []

for ele in num_list:
  if ele not in distinct_list:
    distinct_list.append(ele)

print('List without any dupliacte values:', distinct_list)

Enter comma separated values: 7, 7, 7, 1,           0, 3, 3,   55, 9
Given numbers in list [7, 7, 7, 1, 0, 3, 3, 55, 9]
List without any dupliacte values: [7, 1, 0, 3, 55, 9]

In [ ]:
#suggested
main_list = [1,2,3,2,2,1,2,4,4,5,3]
modified_list = []
[modified_list.append(i) for i in main_list if i not in modified_list]
print(modified_list)

[1, 2, 3, 4, 5]

In [ ]:
#task 6       7, 13, 2, 10, 6, -11, 0 #failed 

user = input('Enter 7 comma space separated values: ')

org_list = []
num = ''

for char in user:

  if ( char in '1234567890' ) or char == '-':

    num += char

  elif char != ' ':
    org_list.append(int(num))
    num = ''

org_list.append(int(num))

print('Original list:', org_list)
'''
ascend_list = org_list

for i in range(len(ascend_list)):
  min_ind = i

  for j in range(i+1, len(ascend_list)):

    if ascend_list[min_ind] > ascend_list[j]:
      min_ind = j
      
  ascend_list[min_ind], ascend_list[i] = ascend_list[i], ascend_list[min_ind]


for i2 in range(len(org_list)):

  if org_list[i2] == ascend_list[-1]:
    max_ind = i2 '''

max = org_list[0]

for i2 in range(len(org_list)):

  if org_list[i2] > max:
    max = org_list[i2]
    max_ind = i2

#print('Modified list:', ascend_list)
print('Largest number in the list is', max, 'which was found at index', max_ind, '.')


print('org', org_list)

Enter 7 comma space separated values: 7, 13, 2, 10, 6, -11
Original list: [7, 13, 2, 10, 6, -11]
Largest number in the list is 13 which was found at index 1 .
org [7, 13, 2, 10, 6, -11]

In [ ]:
list_1 = [1, 2, 3]
list_2 = list_1

list_2.append(9)

print(list_1)

[1, 2, 3, 9]